<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #bb3e3e;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color:#fff">ChatBot </a>

  </div>
</nav>


<div class="msgs" #scrollBottom *ngIf="messageres">
  <div *ngFor="let data of messageres">
      <div  >
          <div [ngClass]="data.type == 'Customer'? 'sent' : 'received'">
              <!-- <img src={photoURL} alt="" /> -->
              <p *ngFor="let m of data.message">{{m}}</p>
              <div *ngIf="data.hasButtons == 1">
              <p *ngFor="let b of data.buttonValues">
                <a *ngIf="b.t=='hl'" href="{{b.g}}" target="_blank"  type="button" class="btn btn-light" style="border: 1px solid black;"> {{b.value}} </a>
                <button *ngIf="!(b.t=='hl')" type="button" class="btn btn-light" style="border: 1px solid black;" (click)="sendMsg('btn',b,data.smid,b.a,b.s)">{{b.value}}  <a *ngIf ="b.d == 1">({{defaultTimer}}) </a></button>
              </p>
            </div>
          </div>
      </div>
    </div>

<div class="sendMsg">
  <input style="width: 78%; font-size: 15px; font-weight: 550; margin-left: 5px; margin-bottom: -3px" placeholder='Message...' type="text" name="" id="" [(ngModel)]="msg" [disabled]="validate ? false : true "/>
  <button style="width: 18%; font-size: 15px; font-weight: 550; margin: 4px 5% -13px 5%; max-width: 200px" (click)="sendMsg('Keyboard','','','','')" [disabled]="validate ? false : true " >Send</button>
</div>



